# ============================================================
#  .env.example — copier en .env et remplir
#  NE PAS committer .env (contient des secrets)
# ============================================================

# --- GCP ---
GCP_PROJECT_ID=pfe-fraud-detection
GCP_REGION=europe-west1
GCP_ZONE=europe-west1-b
GCS_BUCKET=pfe-fraud-dataproc-bucket
GCP_SA=fraud-pipeline-sa@pfe-fraud-detection.iam.gserviceaccount.com
ARTIFACT_REGISTRY=europe-west1-docker.pkg.dev/pfe-fraud-detection/fraud-images

# --- VM ---
VM_NAME=mlflow-server
VM_EXTERNAL_IP=34.140.133.17
VM_INTERNAL_IP=10.132.0.14
VM_MACHINE_TYPE=e2-standard-4
VM_DISK_SIZE=100

# --- Airflow ---
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME

# --- MLflow ---
MLFLOW_TRACKING_URI=http://10.132.0.14:5000

# --- Kafka ---
KAFKA_TOPIC=fraud-transactions
# Généré une fois : docker run --rm confluentinc/cp-kafka:7.6.1 kafka-storage random-uuid
KAFKA_CLUSTER_ID=REMPLACE_PAR_UUID

# --- Elasticsearch ---
ES_INDEX=fraud-predictions

# --- Simulation ---
BATCH_PER_CYCLE=29527
TOTAL_TX=118108
NUM_CYCLES=4
PRODUCER_RATE=10
